*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent-clr: rgb(46, 138, 86);
    --console-bg-clr: #1A374D;
    --console-text-clr: #f1f1f1;
    font-size: 16px;
    font-family: sans-serif;
}

::selection {
    background: #ef2d56;
    color: #fff;
}

/* =====Scrollbar===== */
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-clr);
    border-radius: 6px;
}

#hero-section {
    min-height: 100vh;
    padding: 1.5rem;
    display: grid;
    place-content: center;
    background: #876E9C;
    background: -webkit-linear-gradient(top left, #876E9C, #E94393);
    background: -moz-linear-gradient(top left, #876E9C, #E94393);
    background: linear-gradient(to bottom right, #876E9C, #E94393);

    /*    background: #4BA49D;*/
    /*background: -webkit-linear-gradient(top left, #4BA49D, #64C53B);*/
    /*background: -moz-linear-gradient(top left, #4BA49D, #64C53B);*/
    /*background: linear-gradient(to bottom right, #4BA49D, #64C53B);*/

    /*    background: #D41564;*/
    /*background: -webkit-linear-gradient(top left, #D41564, #D54E3A);*/
    /*background: -moz-linear-gradient(top left, #D41564, #D54E3A);*/
    /*background: linear-gradient(to bottom right, #D41564, #D54E3A);*/

    /*    background: #AFD8BC;*/
    /*background: -webkit-linear-gradient(top left, #AFD8BC, #1B46BB);*/
    /*background: -moz-linear-gradient(top left, #AFD8BC, #1B46BB);*/
    /*background: linear-gradient(to bottom right, #AFD8BC, #1B46BB);*/

    /*    background: #7BFDE1;*/
    /*background: -webkit-linear-gradient(top left, #7BFDE1, #035A9A);*/
    /*background: -moz-linear-gradient(top left, #7BFDE1, #035A9A);*/
    /*background: linear-gradient(to bottom right, #7BFDE1, #035A9A);*/

    /*    background: #C890EC;*/
    /*background: -webkit-linear-gradient(top left, #C890EC, #BA1D73);*/
    /*background: -moz-linear-gradient(top left, #C890EC, #BA1D73);*/
    /*background: linear-gradient(to bottom right, #C890EC, #BA1D73);*/

    /*    background: #181C80;*/
    /*background: -webkit-linear-gradient(top left, #181C80, #CC2C9A);*/
    /*background: -moz-linear-gradient(top left, #181C80, #CC2C9A);*/
    /*background: linear-gradient(to bottom right, #181C80, #CC2C9A);*/

    /*    background: #7B5EF3;*/
    /*background: -webkit-linear-gradient(top left, #7B5EF3, #BB8FE9);*/
    /*background: -moz-linear-gradient(top left, #7B5EF3, #BB8FE9);*/
    /*background: linear-gradient(to bottom right, #7B5EF3, #BB8FE9);*/

    /*    background: #F8F410;*/
    /*background: -webkit-linear-gradient(top left, #F8F410, #2E88CB);*/
    /*background: -moz-linear-gradient(top left, #F8F410, #2E88CB);*/
    /*background: linear-gradient(to bottom right, #F8F410, #2E88CB);*/

    /*    background: #F45B8D;*/
    /*background: -webkit-linear-gradient(top left, #F45B8D, #5318CB);*/
    /*background: -moz-linear-gradient(top left, #F45B8D, #5318CB);*/
    /*background: linear-gradient(to bottom right, #F45B8D, #5318CB);*/

    /*    background: #9103F4;*/
    /*background: -webkit-linear-gradient(top left, #9103F4, #E65DFA);*/
    /*background: -moz-linear-gradient(top left, #9103F4, #E65DFA);*/
    /*background: linear-gradient(to bottom right, #9103F4, #E65DFA);*/

    /*    background: #970AAB;*/
    /*background: -webkit-linear-gradient(top left, #970AAB, #CC081B);*/
    /*background: -moz-linear-gradient(top left, #970AAB, #CC081B);*/
    /*background: linear-gradient(to bottom right, #970AAB, #CC081B);*/

    /*    background: #F21690;*/
    /*background: -webkit-linear-gradient(top left, #F21690, #D495F3);*/
    /*background: -moz-linear-gradient(top left, #F21690, #D495F3);*/
    /*background: linear-gradient(to bottom right, #F21690, #D495F3);*/

    /*    background: #04455D;*/
    /*background: -webkit-linear-gradient(top left, #04455D, #8DEA57);*/
    /*background: -moz-linear-gradient(top left, #04455D, #8DEA57);*/
    /*background: linear-gradient(to bottom right, #04455D, #8DEA57);*/

    /*    background: #677984;*/
    /*background: -webkit-linear-gradient(top left, #677984, #46286C);*/
    /*background: -moz-linear-gradient(top left, #677984, #46286C);*/
    /*background: linear-gradient(to bottom right, #677984, #46286C);*/
}

.console {
    position: relative;
    width: clamp(280px, 60vw, 1000px);
    height: 90vh;
    color: var(--console-text-clr);
    background: var(--console-bg-clr);
    border-radius: 1em;
    padding: 5rem 1em 1em;
    box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    overflow-x: hidden;
}

.console-upper-panel {
    position: fixed;
    top: 45px;
    left: 0;
    width: clamp(280px, 60vw, 1000px);
    /*height: 30px;*/
    padding: 1rem 0 .5rem;
    margin: 0 0 1em;
    background: var(--console-bg-clr);
}

.console-upper-panel::after {
    content: '';
    position: absolute;
    top: 25px;
    left: -16px;
    width: 104%;
    height: 30px;
    /*background: rgb(26, 55, 77);*/
    /*background: linear-gradient(0deg, rgba(26, 55, 77, 0) 0%, rgba(26, 55, 77, 1) 100%);*/
}

.console-btn {
    top: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.console-btn.red {
    background: #ff5f56;
}

.console-btn.yellow {
    background: #ffbd2e;
}

.console-btn.green {
    background: #27c93f;
}

code {
    display: block;
}

.console-input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: clamp(280px, 60vw, 1000px);
    height: 50px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.console-input {
    position: fixed;
    width: calc(clamp(280px, 60vw, 1000px) - 5rem);
    /*width: 50%;*/
    padding: 5px 10px;
    font-size: 1.2rem;
}